/*
Author: Rudchyk.Sergii
*/
/* ---------->>> XHTML, HTML4, HTML5 Reset <<<-----------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { background: transparent; font-size: 100%; margin: 0; padding: 0; border: 0; outline: none; vertical-align: baseline; }

html, body, .container-wrap { height: 100%; }

/* Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*
1. Correct `inline-block` display not defined in IE 8/9.
2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio, canvas, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/*
Remove excess height in iOS 5 devices.
*/
audio:not([controls]) { height: 0; }

/*
Prevent modern browsers from displaying `audio` without controls.
Address `[hidden]` styling not present in IE 8/9.
Hide the `template` element in IE, Safari, and Firefox < 22.
*/
audio:not([controls]), [hidden], template { display: none; }

/*
Addresses `font-family` inconsistency between `textarea` and other form elements.
*/
html, button, input, select, textarea { font-family: sans-serif; }

/* 1. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100.01%; overflow-y: scroll; -ms-text-size-adjust: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 1 */ }

body { color: #181818; background: white; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ }

pre, code, kbd, samp, q { -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; }

pre, code, kbd, samp { font-family: monospace, serif; font-size: 100%; }

pre { overflow: auto; white-space: pre-wrap; word-wrap: break-word; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

sub, sup { font-size: smaller; }

sup { vertical-align: super; }

sub { vertical-align: sub; }

b, strong { font-weight: bold; }

em, i, dfn { font-style: italic; }

u { text-decoration: underline; }

small { font-size: 80%; }

mark { background: #ff0; color: #000; }

/*
Remove the gray background color from active links in IE 10.
*/
a { background: transparent; }
a img { border: none; }

img { border: 0; color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

/*img,
embed,
object,
video { max-width: 100%;
}*/
ul, ol { list-style: none; }
ul li, ol li { margin-left: 0px; }

/*  Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

th, td, caption { text-align: left; font-weight: normal; vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 130%; }

h2 { font-size: 120%; }

h3 { font-size: 110%; }

h4 { font-size: 100%; }

h5 { font-size: 90%; }

h6 { font-size: 80%; }

hr { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/*Correct overflow displayed oddly in IE 9.*/
svg:not(:root) { overflow: hidden; }

/*
1. Correct color not being inherited. Known issue: affects color of disabled elements.
2. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button, input, optgroup, select, textarea { color: inherit; /* 1 */ margin: 0; /* 2 */ }

/**
1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
2. Improve usability and consistency of cursor style between image-type `input` and others.
*/
a[href], input[type="submit"], html input[type="button"], input[type="image"], input[type="reset"], label[for], select, button, .button { cursor: pointer; /* 2 */ }

/*Address `overflow` set to `hidden` in IE 8/9/10*/
button { overflow: visible; }

/*
Address inconsistent `text-transform` inheritance for `button` and `select`.
All other form control elements do not inherit `text-transform` values.
Correct `button` style inheritance in Firefox, IE 8+, and Opera
Correct `select` style inheritance in Firefox.
*/
button, select { text-transform: none; }

a:active, a:hover { outline: none; }

input, input:hover, input:focus, textarea, textarea:hover, textarea:focus, select, select:hover, select:focus, button, button:hover, button:focus { outline: none; }

/*
Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
It's recommended that you don't attempt to style these elements.
Firefox's implementation doesn't respect box-sizing, padding, or width.

1. Address box sizing set to `content-box` in IE 8/9/10.
2. Remove excess padding in IE 8/9/10.
3. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
4. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).

Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
Remove inner padding and search cancel button in Safari and Chrome on OS X.
Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance).
*/
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
input[type="checkbox"] { vertical-align: bottom; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; /* 3 */ -webkit-box-sizing: content-box; /* 4 */ -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
Re-set default cursor for disabled elements.
*/
button[disabled], input[disabled], textarea, select { cursor: default; }

/*
Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner, input::-moz-focus-inner { margin: 0; padding: 0; border: 0; outline: none; }

acronym, abbr, span.caps { cursor: help; }

acronym, abbr { border-bottom: 1px dashed #999; }

textarea { font-family: Arial, Helvetica, sans-serif; overflow: auto; resize: none; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*
Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup { font-weight: bold; }

/* ---------->>> MY CLASSES  <<<-----------*/
.wrapper { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

.tac { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.clearfix:after { content: ""; display: table; clear: both; }

.tablebox, .wrapper { width: 100%; }

/* ---------->>> OTHER CLASSES  <<<-----------*/
.break { word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; }

.ellipsis { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.dib, .icon, .button, .field, .wrapper { display: inline-block; }

.dib { vertical-align: top; }

.icon, .button, .field { vertical-align: middle; }

.tablebox { display: table; }

.cellbox { display: table-cell; }

/* ---------->>> ALIGNMENT BLOCKS IN WIDTH  <<<-----------*/
.jbox { line-height: 0; text-align: justify; }
.jbox:after { content: "\0020"; height: 0; clear: both; overflow: hidden; visibility: hidden; display: inline-block; width: 100%; }
.jbox .dib { line-height: normal; text-align: left; }

input[type="submit"], html input[type="button"], input[type="reset"], button { -webkit-appearance: button; -moz-appearance: button; appearance: button; }

.no_select { -webkit-user-select: none; -moz-user-select: none; user-select: none; }

/* ---------->>> STANDARD STYLE <<<-----------*/
a, .link { color: #287fc3; text-decoration: underline; }
a:hover, .link:hover { text-decoration: none; }

/* ---------->>> GLOBAL <<<-----------*/
html { min-width: 400px; }
html > body .container-wrap { height: auto; min-height: 100%; }

body { background-color: #ccc; color: #444444; line-height: 1; font-family: Arial, Helvetica, sans-serif; font-size: 0.875em; }

.container { margin: auto; width: 400px; }

.container-wrap { position: relative; }

.loading { background-color: #fff; background-image: url(../images/required/loading.gif); background-repeat: no-repeat; background-position: center; }

/* ---------->>> TEXT PAGE STYLE <<<-----------*/
.text { line-height: normal; }
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 { margin: 10px 0; }
.text ul { list-style: disc; margin: 10px 0; }
.text ol { list-style: decimal; margin: 10px 0; }
.text li { margin-left: 30px; }
.text p { margin: 10px 0; }
.text table, .text td { border: 1px solid #ccc; }
.text table { margin: 10px 0; }
.text td { padding: 5px; }
.text hr { border-top: 1px solid #ddd; clear: both; margin: 10px 0; }
.text blockquote { border-left: 2px solid #000; margin: 16px 28px 10px 16px; padding-left: 16px; }
.text img, .text embed, .text object, .text video { max-width: 100%; }

/* ---------->>> IMAGES <<<-----------*/
img.aligncenter { display: block; margin: 0 auto 2px; }

img.alignright { margin: 0 0 10px 16px; float: right; }

img.alignleft { margin: 0 16px 10px 0; float: left; }

/* ---------->>> FORMS <<<-----------*/
/*field style*/
.field { background: white; border: 1px solid #cccccc; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 4px; color: #444444; width: 100%; height: 30px; max-width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.field:-moz-placeholder { color: #777777; opacity: 1; }
.field::-moz-placeholder { color: #777777; opacity: 1; }
.field::-webkit-input-placeholder { color: #777777; }
.field:-ms-input-placeholder { color: #777777; }
.field.text-placeholder { color: #777777; }
.field[data-operaplaceholder] { color: #777777; }
.field.error { border: 1px solid red; color: red; }
.field.valid { border: 1px solid green; color: green; }

select.field { padding-right: 0; }

textarea.field { min-height: 60px; }

.full-width { width: 100%; }

/*end field style*/
/*buttons style*/
.button { border: 1px solid #aaa; border-radius: 3px; line-height: normal; padding: 0 10px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjIpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMikiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)); background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)); background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)); background: linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)); text-shadow: 0 1px rgba(255, 255, 255, 0.75); color: #444; font-size: 13px; height: 30px; }
.button:hover { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjMpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMykiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); background: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); color: #222; }

a.button, span.button, div.button { text-align: center; line-height: 30px; text-decoration: none; }
a.button:hover, span.button:hover, div.button:hover { text-decoration: none; }

/*end buttons style*/
/*select style*/
.select { position: relative; display: inline-block; vertical-align: top; width: 100%; }

.slct { cursor: pointer; position: relative; }
.slct.active { border: 1px solid #aaa; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
.slct.active:after { border-bottom-width: 10px; border-bottom-color: #474545; border-top-width: 0; }
.slct.field { padding-right: 30px; line-height: 30px; }
.slct:after { content: ''; position: absolute; right: 5px; top: 50%; margin-top: -5px; border: 5px solid transparent; border-top-width: 10px; border-top-color: #474545; border-bottom-width: 0; }

.slctdrop { background: white; border: 1px solid #cccccc; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: none; position: absolute; z-index: 100; top: 100%; left: 0; width: 100%; overflow: hidden; }

.slctdrop-list { width: 110%; overflow-y: auto; max-height: 210px; }

.slctdrop-item { color: #444444; cursor: pointer; display: block; line-height: 30px; padding: 0 4px; }
.slctdrop-item:hover { background: #e9e9e9; }

/*end select style*/
/*radio style*/
.radio { cursor: pointer; margin-right: 10px; }
.radio .radio-text { margin-left: 5px; }

/*end radio style*/
/*check style*/
.check { cursor: pointer; position: relative; }
.check .checkbox { position: absolute; left: -10000px; }
.check .check-text { margin-left: 5px; }

/*end check style*/
.fileload { overflow: hidden; position: relative; }
.fileload .file-input { opacity: 0; position: absolute; top: 0; right: 100%; }

.fileload-field { line-height: 30px; width: 73%; }

.fileload-button { width: 25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* ---------->>> SPRITE <<<-----------*/
.icons-sprite, .check-icon, .check.active .check-icon, .radio-icon, .radio.active .radio-icon, .pass-hide-icon, .pass-show-icon, .pass-btn-icon:hover, .md-close, .md-close:hover { background: url('../images/icons-s3f7d35bdc0.png') no-repeat; }

/* ---------->>> ICONS <<<-----------*/
.check-icon { background-position: 0 -90px; height: 20px; width: 20px; }

.check.active .check-icon { background-position: 0 -30px; height: 20px; width: 20px; }

.radio-icon { background-position: 0 -60px; height: 20px; width: 20px; }

.radio.active .radio-icon { background-position: 0 -150px; height: 20px; width: 20px; }

.pass-hide-icon { background-position: 0 -220px; height: 10px; width: 18px; }

.pass-show-icon { background-position: 0 -180px; height: 10px; width: 18px; }

.pass-btn-icon:hover { background-position: 0 -200px; }

.md-close { background-position: 0 -120px; height: 20px; width: 20px; }
.md-close:hover { background-position: 0 0; }

/* ---------->>> HEADER <<<-----------*/
.header { padding: 50px 0; text-align: center; font-size: 30px; text-transform: uppercase; }

/* ---------->>> CONTENT <<<-----------*/
.content { padding-bottom: 100px; }

.form { padding: 20px; background: #fff; border-radius: 10px; }

.form-row { margin-bottom: 10px; }

.form-label-box { padding-bottom: 10px; font-style: italic; }

.form-button { padding-top: 10px; }

.pass-bl { position: relative; }

.pass-btn { cursor: pointer; position: absolute; right: 10px; top: 0; line-height: 30px; color: #999; font-size: 11px; }

.pass-show-icon, .pass-hide-icon { top: 50%; margin-top: -5px; }

/*tabs*/
.tabs { width: 100%; display: table; }
.tabs .tab { display: table-cell; width: 50%; cursor: pointer; text-align: center; }
.tabs .tab.tab-current { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjMpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMykiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); background: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); color: #222; }

.tab-content { padding-top: 10px; display: none; }
.tab-content.tab-content-visible { display: block; }

/*end tabs*/
/* ---------->>> POPUPS <<<-----------*/
.popup-link { cursor: pointer; }

.popup-overlay { background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; -webkit-transform: translateZ(0); }

.popupper { display: none; position: fixed; z-index: 1000; background: #fff; border-radius: 10px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.popupper-size { width: 500px; }

.popupper-close { cursor: pointer; position: absolute; top: 5px; right: 5px; }

.popupper-body { padding: 20px; }

.popupper-pos { position: absolute; }

/* ---------->>> OTHER STYLES <<<-----------*/
.toTop { position: fixed; bottom: 10px; right: 10px; display: none; width: 51px; height: 51px; background: #222; border-radius: 5px; color: #fff; cursor: pointer; overflow: hidden; line-height: 51px; text-align: center; text-decoration: none; }
.toTop:hover { background: #000; }

.tip.tip-help { cursor: help; }

.messageTip-wrapper { display: inline-block; position: relative; vertical-align: top; }

.messageTip { background-color: #ef5b5b; box-shadow: 3px 4px 6px rgba(0, 0, 1, 0.22); color: white; display: none; line-height: 1; padding: 10px 14px; position: absolute; white-space: nowrap; z-index: 1000; }
.messageTip:before { border-style: solid; content: ''; position: absolute; }
.messageTip.messageTip-right:before, .messageTip.messageTip-left:before { margin-top: -5px; top: 50%; }
.messageTip.messageTip-top:before, .messageTip.messageTip-bottom:before { margin-left: -5px; left: 50%; }
.messageTip.messageTip-right { margin-left: 12px; left: 100%; }
.messageTip.messageTip-right:before { border-width: 5px 8px 5px 0; border-color: transparent #ef5b5b transparent transparent; right: 100%; }
.messageTip.messageTip-left { margin-right: 12px; right: 100%; }
.messageTip.messageTip-left:before { border-width: 5px 0 5px 8px; border-color: transparent transparent transparent #ef5b5b; left: 100%; }
.messageTip.messageTip-top { bottom: 100%; margin-bottom: 12px; }
.messageTip.messageTip-top:before { border-width: 8px 5px 0 5px; border-color: #ef5b5b transparent transparent transparent; top: 100%; }
.messageTip.messageTip-bottom { margin-top: 12px; top: 100%; }
.messageTip.messageTip-bottom:before { border-width: 0 5px 8px 5px; border-color: transparent transparent #ef5b5b transparent; bottom: 100%; }
.messageTip.messageTip-fix { position: fixed; }
.messageTip.messageTip-fix:before { border: none; content: ''; position: absolute; }

/* ---------->>> IE8 <<<-----------*/
.ie8 .field { background: #eee; line-height: 30px; }
.ie8 .button { background: #eee; }
.ie8 .button:hover { background: #ddd; }
