/* ---------->>> HEADER <<<-----------*/
.header { padding: 50px 0; text-align: center; font-size: 30px; text-transform: uppercase; }

/* ---------->>> CONTENT <<<-----------*/
.content { padding-bottom: 100px; }

.form { padding: 20px; background: #fff; border-radius: 10px; }

.form-row { margin-bottom: 10px; }

.form-label-box { padding-bottom: 10px; font-style: italic; }

.form-button { padding-top: 10px; }
